form {
    ::placeholder,
    select {
      color: rgb(151, 150, 150) !important;
    }
  
    .checkLabel {
      font-weight: bold !important;
    }
    .textInput {
      border: #fff solid 3px !important;
      border-radius: 0.8rem;
      height: calc(1.8rem + 0.75rem + 2px);
    }
  }
  .formikError {
    color: rgb(221, 13, 13);
    font-size: 1.2rem;
    margin: -1rem 0 1rem 0.5rem;
  }